#titlebar {
	height: 30px;
	width: 100%;
	display: inline-block;
<<<<<<< HEAD
	background: linear-gradient(45deg, #00578e, #1a6492);
=======
	background: linear-gradient(45deg, #232526, #414345);
>>>>>>> f8a2ef2d2b5c58ce2913264bb0afadd9af338424
	color: white;
	font-family: consolas;
	user-select: none;
}

.job-number {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	padding-left: 10px;
	-webkit-app-region: drag;
	width: 85%;
	letter-spacing: 2px;
	font-size: 14px;
}

.close-btn {
	display: inline-block;
	position: absolute;
	right: 0;
	height: 25px;
	padding: 0 10px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	line-height: 26px;

	&:hover {
		color: #acacac;
		cursor: pointer;
	}
}
