.container {
	display: inline-block;
	position: relative;
<<<<<<< HEAD
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	// margin-left: 2px;
	// width: calc(100% - 3px);
	width: 100%;
	line-height: 16px;
	padding: 8px 0;
	letter-spacing: 2px;
	transition: 0.2s ease;
	&:hover {
		background-color: #d2e0e9;
	}

	.checkText {
		margin-left: 30px;
	}
=======
	margin-top: 6px;
	padding-left: 27px;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	width: 85%;
	margin-left: 5px;
	line-height: 16px;
	padding-bottom: 10px;
	letter-spacing: 2px;
>>>>>>> f8a2ef2d2b5c58ce2913264bb0afadd9af338424

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
}

.checkmark {
	position: absolute;
<<<<<<< HEAD
	top: 7px;
	left: 5px;
	height: 15px;
	width: 15px;
	border: 2px solid #515151;

=======
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	border: 2px solid #515151;
>>>>>>> f8a2ef2d2b5c58ce2913264bb0afadd9af338424
	&:after {
		left: 3px;
		top: 0px;
		width: 5px;
		height: 8px;
		border: solid white;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
	}
}

.container input:checked ~ .checkmark {
	background-color: #515151;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
